* {
  border: 1px solid red;
}

#threeimgset {
  padding-top: 100px;
  width: 80%;
  height: 320px;
  display:flex;
  justify-content: space-between;
  margin: 0px auto;
}

#threeimgset div {
  width:30%;
  border:1px solid #bcbcbc;
  box-shadow: 5px 8px 5px #bcbcbc;
}

#img1, #img2, #img3 {
  width: auto;
   max-width: 100%;
   display:block;
   margin:auto;
}

#chartContainer {
  width: 80%;
  margin: 0 auto;
  padding-top:50px;
}

#clicksChart {
  width:100%;
}
